// Desktop
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    height: 8vh;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
    background: $gradient-nav;
    position: fixed;
    top: 0px;
    width: 100%;

    :hover {
      color: $color-primary;
      transition: 0.4s;
    }

    &__logo {
      display: flex;
      font-family: $font-display;
      font-size: 50px;
      color: $color-secondary;
      width: 200px;
      justify-content: center;
      align-items: center;
      // background-color: inherit;
      height: inherit;
      background: transparent;
    }

    &__options {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 450px;
      margin-right: 25px;
      // background-color: inherit;
      height: inherit;
      background: transparent;
    }

    &__option {
      color: $color-secondary;
      // background-color: none;
      background: transparent;
    }

    h2 {
      background: transparent;
    }

    &__highlight {
      color: $color-primary;
      background: transparent;
    }
  }

  // Landing desktop
  .landing {
    display: flex;
    width: 80vw;
    flex-direction: column;
    padding: 50px;
    margin-left: 80px;
    margin-top: 60px;

    &__header {
      color: $color-primary;
      font-size: 150px;
      padding: 100 0 30 0;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }

    &__subheader {
      color: $color-secondary;
      font-size: 50px;
      margin-bottom: 300px;
    }

    &__image {
      width: 300px;
      opacity: 0.8;
    }
  }

  // Section title desktop
  .sectionTitle {
    color: $color-secondary;
    font-size: 50px;
    margin-left: 80px;
    padding: 50px 50px 0px 50px;
  }

  // About me desktop
  .aboutMe {
    &__content {
      display: flex;
      justify-content: center;
      padding: 50px 50px 50px 50px;
    }

    &__image {
      width: 250px;
      box-shadow: $shadow-large;
      border-radius: 20px;
    }

    &__p {
      padding: 20px 50px 20px 90px;
      font-size: 36px;
      max-width: 900px;
      color: $color-secondary;
      font-weight: bold;
    }
  }

  // Tech stack desktop
  .techStack {
    display: flex;
    width: 100%;
    font-size: 100px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;

    &__icon {
      display: flex !important;
      background-color: $color-box;
      width: 175px;
      height: 125px;
      justify-content: center;
      color: white;
      border-radius: 10px;
      align-items: center;
      box-shadow: $shadow-small;
      margin: 0 70 0 70;
    }
  }

  // My work desktop
  .myWork {
    &__projects {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    &__project {
      background-color: $color-box;
      border-radius: 20px;
      width: 20%;
      height: 300px;
      padding: 20 20 20 20;
      margin: 50 50 150 50;
      box-shadow: $shadow-large;
    }
  }
}

// Tablet
@media screen and (min-width: 480px) and (max-width: 768px) {
  .nav {
    display: flex;
    height: 8vh;
    padding: 0px 4px;
    justify-content: space-between;
    align-items: center;
    background: $gradient-nav;
    position: fixed;
    top: 0px;
    width: 100%;

    :hover {
      color: $color-primary;
      transition: 0.4s;
    }

    &__logo {
      display: flex;
      font-family: $font-display;
      font-size: 50px;
      color: $color-secondary;
      width: 200px;
      justify-content: center;
      align-items: center;
      // background-color: inherit;
      height: inherit;
      background: transparent;
    }

    &__options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 450px;
      margin-right: 25px;
      // background-color: inherit;
      height: inherit;
      background: transparent;
    }

    &__option {
      color: $color-secondary;
      // background-color: none;
      background: transparent;
    }

    h2 {
      background: transparent;
      font-size: 20px;
    }

    &__highlight {
      color: $color-primary;
      background: transparent;
    }
  }

  // Landing tablet
  .landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 20px;

    &__header {
      color: $color-primary;
      font-size: 100px;
      padding: 130 0 20 0;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }

    &__subheader {
      color: $color-secondary;
      font-size: 30px;
      margin: 0 0 200 0;
    }
  }

  // Section title tablet
  .sectionTitle {
    color: $color-secondary;
    font-size: 40px;
    margin-left: 20px;
    padding: 0px;
  }

  // About me tablet
  .aboutMe {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 50px 50px 50px;
    }

    &__image {
      width: 200px;
      box-shadow: $shadow-large;
      border-radius: 20px;
    }

    &__p {
      padding-top: 30px;
      font-size: 24px;
      max-width: 480px;
      color: $color-secondary;
      font-weight: normal;
      text-align: justify;
    }
  }

  // Tech stack tablet
  .techStack {
    display: flex;
    width: 100%;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;

    &__icon {
      display: flex !important;
      background-color: $color-box;
      width: 100px;
      height: 75px;
      justify-content: center;
      color: white;
      border-radius: 10px;
      align-items: center;
      box-shadow: $shadow-small;
      margin: 0 20 0 20;
    }
  }

  // My work tablet
  .myWork {
    &__projects {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    &__project {
      background-color: $color-box;
      border-radius: 20px;
      width: 60%;
      height: 300px;
      padding: 20 20 20 20;
      margin: 50 50 50 50;
      box-shadow: $shadow-large;
    }
  }
}

// Nav mobile
@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    height: 8vh;
    padding: 0px 4px;
    justify-content: space-between;
    align-items: center;
    background: $gradient-nav;
    position: fixed;
    top: 0px;
    width: 100%;

    :hover {
      color: $color-primary;
      transition: 0.4s;
    }

    &__logo {
      display: flex;
      font-family: $font-display;
      font-size: 50px;
      color: $color-secondary;
      width: 200px;
      justify-content: center;
      align-items: center;
      // background-color: inherit;
      height: inherit;
      background: transparent;
    }

    &__options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 450px;
      margin-right: 25px;
      // background-color: inherit;
      height: inherit;
      background: transparent;
    }

    &__option {
      color: $color-secondary;
      // background-color: none;
      background: transparent;
    }

    h2 {
      background: transparent;
      font-size: 20px;
    }

    &__highlight {
      color: $color-primary;
      background: transparent;
    }
  }
}

.highlight {
  color: $color-primary;
}

// Landing mobile
@media screen and (max-width: 480px) {
  .landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 20px;

    &__header {
      color: $color-primary;
      font-size: 100px;
      padding: 130 0 20 0;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }

    &__subheader {
      color: $color-secondary;
      font-size: 30px;
      margin: 0 0 200 0;
    }

    // &__image {
    //   width: 300px;
    //   opacity: 0.8;
    // }
  }
}

// Section title mobile
@media screen and (max-width: 480px) {
  .sectionTitle {
    color: $color-secondary;
    font-size: 40px;
    margin-left: 20px;
    padding: 0px;
  }
}

// About me mobile
@media screen and (max-width: 480px) {
  .aboutMe {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 50px 50px 50px;
    }

    &__image {
      width: 200px;
      box-shadow: $shadow-large;
      border-radius: 20px;
    }

    &__p {
      padding-top: 30px;
      font-size: 24px;
      max-width: 480px;
      color: $color-secondary;
      font-weight: normal;
      text-align: justify;
    }
  }
}

// Tech stack mobile
@media screen and (max-width: 480px) {
  .techStack {
    display: flex;
    width: 100%;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;

    &__icon {
      display: flex !important;
      background-color: $color-box;
      width: 100px;
      height: 75px;
      justify-content: center;
      color: white;
      border-radius: 10px;
      align-items: center;
      box-shadow: $shadow-small;
      margin: 0 20 0 20;
    }
  }
}

// My work mobile
@media screen and (max-width: 480px) {
  .myWork {
    &__projects {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    &__project {
      background-color: $color-box;
      border-radius: 20px;
      width: 60%;
      height: 300px;
      padding: 20 20 20 20;
      margin: 50 50 50 50;
      box-shadow: $shadow-large;
    }
  }
}

.contactMe {
  &__box {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $color-box;
    width: 320px;
    height: 500px;
    border-radius: 20px;
    box-shadow: $shadow-large;
    margin-top: 50;
    padding: 30px;
  }

  &__input {
    font-size: 25px;
    background-color: rgb(233, 233, 233);
    color: $color-box;
    border-radius: 15px;
    padding: 10px;
  }

  &__button {
    background-color: $color-primary;
    color: $color-box;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
  }

  &__icons {
    display: flex;
    width: 100%;
    font-size: 80px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  &__icon {
    display: flex !important;
    background-color: $color-box;
    width: 150px;
    height: 100px;
    justify-content: center;
    color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: $shadow-small;
    margin: 0 10 0 10;
  }
}

.footer {
  height: 6vh;
  background: $gradient-nav;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla(0, 0%, 0%, 0.7);
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: $color-primary;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 3s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
